APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:jw9jZm0x6oJ7bDe5ALoWf/Em2wwHrb3TzY4wxFh5Jxk=
APP_DEBUG=true
APP_URL=https://car-app.appifymisr.tech

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306*
DB_DATABASE=apify_car_app
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=1740195
PUSHER_APP_KEY=e516f4f3a26aa8b6445d
PUSHER_APP_SECRET=0e10551978f612b9f9d6
PUSHER_APP_CLUSTER=eu
BROADCAST_DRIVER=pusher
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https

VITE_APP_NAME="${APP_NAME}"
VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

FCM_SERVER_KEY=AAAABo0tvlo:APA91bFYzy2WjUbqMvgvZvO7t4qlVl7bAqXOTav7qBpDrsULIQuWBdI9uJuGpwPvm7Fw7o43cEjUlr3r6m4fIwUXLvj3co0Lcm3CMR6-3-CL0D5qMTaOcE2O9tRga1M3MLOSANOXDheg
WORKSHOP_MANAGER_FCM_SERVER_KEY=AAAAuYkgKCo:APA91bEO5UJshXgVx7uwDcAETNihZBOSOdYC_kR0viAe6qwwKtHUnLs9Pd80qwgPmE_ezjbP7KVMHP5ExkjT7uxiJY7V77u2KjweS33nULt7TJQzZkZRbVz4UyoCpZaN7xHLXaT0xHFA